.inicio {
    display: flex;
    text-align: center;
    justify-content: center;
}

.box-form-login{
    display: flex;
    flex-direction: column;
    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}